# IMDB 영화평 감성분석 (이진 분류)

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/labeledTrainData.tsv', sep='\t')
df.head(3)

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...

- QUOTE_MINIMAL (0)
- QUOTE_ALL (1), 
- QUOTE_NONNUMERIC (2) or QUOTE_NONE (3)

In [3]:
df = pd.read_csv('data/labeledTrainData.tsv', sep='\t', quoting=3)      # 3 : QUOTE-None == 인용구(큰따옴표) 무시
df.head(3)

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         25000 non-null  object
 1   sentiment  25000 non-null  int64
 2   review     25000 non-null  object
dtypes: int64(1), object(2)
memory usage: 586.1+ KB

In [5]:
# 첫 번째 리뷰 1000글자까지 보기
df.review[0][:1000]

'"With all this stuff going down at the moment with MJ i\'ve started listening to his music, watching the odd documentary here and there, watched The Wiz and watched Moonwalker again. Maybe i just want to get a certain insight into this guy who i thought was really cool in the eighties just to maybe make up my mind whether he is guilty or innocent. Moonwalker is part biography, part feature film which i remember going to see at the cinema when it was originally released. Some of it has subtle messages about MJ\'s feeling towards the press and also the obvious message of drugs are bad m\'kay.<br /><br />Visually impressive but of course this is all about Michael Jackson so unless you remotely like MJ in anyway then you are going to hate this and find it boring. Some may call MJ an egotist for consenting to the making of this movie BUT MJ and most of his fans would say that he made it for the fans which if true is really nice of him.<br /><br />The actual feature film bit when it finally sta'

- 텍스트 전처리

In [14]:
# <br /> 태그 → 공백으로 변환
df.review = df.review.str.replace("<br />", " ")

In [18]:
# 구둣점, 숫자 제거 - 영문자가 아닌 것들 공백으로 변환
df.review = df.review.str.replace('[^A-Za-z]', ' ').str.strip()

<ipython-input-18-867d54e5967e>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df.review = df.review.str.replace('[^A-Za-z]', ' ').str.strip()

- type(df.review.str.replace('[^A-Za-z]', ' ')) : pandas.core.series.Series
    - 시리즈이기 때문에 양쪽 공백 없애는 strip() 사용하기 위해서 다시 문자열로 바꿔줘야 한다. 따라서 .str.strip() 입력해야 한다.

In [19]:
df.review[0][:1000]

'With all this stuff going down at the moment with MJ i ve started listening to his music  watching the odd documentary here and there  watched The Wiz and watched Moonwalker again  Maybe i just want to get a certain insight into this guy who i thought was really cool in the eighties just to maybe make up my mind whether he is guilty or innocent  Moonwalker is part biography  part feature film which i remember going to see at the cinema when it was originally released  Some of it has subtle messages about MJ s feeling towards the press and also the obvious message of drugs are bad m kay   Visually impressive but of course this is all about Michael Jackson so unless you remotely like MJ in anyway then you are going to hate this and find it boring  Some may call MJ an egotist for consenting to the making of this movie BUT MJ and most of his fans would say that he made it for the fans which if true is really nice of him   The actual feature film bit when it finally starts is only on for   '

- Train / Test dataset 분리

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test = train_test_split(
    df.review, df.sentiment, stratify=df.sentiment, random_state=2022
)

y_train.value_counts(), y_test.value_counts() # Series 형태이므로 value_counts() / 만약 넘파이 array 면, np.unique(y_train, return_counts=True)

(0    9375
 1    9375
 Name: sentiment, dtype: int64,
 0    3125
 1    3125
 Name: sentiment, dtype: int64)

- CountVectorizer로 변환

In [24]:
from sklearn.feature_extraction.text import CountVectorizer
cvect = CountVectorizer(stop_words='english')

In [25]:
cvect.fit(X_train)  # train dataset 훈련
X_train_cv = cvect.transform(X_train)   # 훈련된 train dataset 숫자로 변환(인코딩)
X_train_cv.shape    # (The number of line, The number of words)

(18750, 65213)

In [26]:
# 지금과 같은 방법으로 하면 틀림 
# Don't do like this way - Wrong Code
cvect2 = CountVectorizer(stop_words='english')
X_test_cv = cvect2.fit_transform(X_test)
X_test_cv.shape

(6250, 41343)

In [27]:
def get_word(index, voca):
    for key, value in voca.items():
        if value == index:
            return key

get_word(100, cvect.vocabulary_), get_word(100, cvect2.vocabulary_)     # train data와 test data 단어 다름 - 학습한 의미 X

('abilityof', 'abos')

In [28]:
# Correct Code
# test dataset은 train dataset을 변환한 Vectorizer로 반드시 변환하여야 함
X_test_cv = cvect.transform(X_test) # 학습한 분류기로 test dataset을 숫자로 변환(인코딩)
X_test_cv.shape     # X_train의 단어 갯수와 동일 - 인덱스 동일 - 혼란 X

(6250, 65213)

※ y_train, y_test - 이미 숫자로 인코딩되어 있기 때문에 transform 하지 않는다.

- 분류기 - LogisticRegression

In [35]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state=2022, max_iter=500)
lr.fit(X_train_cv, y_train)

LogisticRegression(max_iter=500, random_state=2022)

In [36]:
lr.score(X_test_cv, y_test)

0.86576

- CountVectorizer + ngram_range=(1,2)

In [39]:
cvect12 = CountVectorizer(stop_words='english', ngram_range=(1,2))

In [40]:
cvect12.fit(X_train)
%time X_train_cv12 = cvect12.transform(X_train)

Wall time: 6.19 s

In [41]:
X_test_cv12 = cvect12.transform(X_test)
X_train_cv12.shape, X_test_cv12.shape   # bigram으로 인해 단어 갯수 증가 # The number of words is increased for 'bigram' (ngram_range=(1,2))

((18750, 1386558), (6250, 1386558))

In [42]:
lr12 = LogisticRegression(max_iter=500, random_state=2022)
lr12.fit(X_train_cv12, y_train)
lr12.score(X_test_cv12, y_test)

0.87968

- 모델 저장하고 불러오기

In [43]:
import joblib

In [44]:
# 모델 저장
joblib.dump(cvect12, 'model/imdb_cvect12.pkl')
joblib.dump(lr12, 'model/imdb_cvect_lr12.pkl')

['model/imdb_cvect_lr12.pkl']

In [45]:
# 변수 삭제
del cvect12, lr12

In [46]:
# 모델 로딩
cvect12 = joblib.load('model/imdb_cvect12.pkl')
lr12 = joblib.load('model/imdb_cvect_lr12.pkl')

- 실제 데이터로 검증

In [48]:
review = '''
"\nWhat cinemas were made for. I wasn't expecting something quite as amazing as this, this was two and a half hours of incredible entertainment, drama, laughs, tears and action galore, there truly was something for everyone here.\n\nThis movie really has ignited my love for the franchise once again, and I am truly excited for what comes next.\n\nNostalgia, there seems to be a real thirst for it theses days, and there is a lot of it to enjoy here. There are plenty of moments throughout that will have you speechless, they really do break all of the rules here.\n\nThis is one incredibly good looking movie, dazzling special effects, dizzying action scenes, two and a half hours will literally fly by.\n\nIncredible, 10/10.\n"
'''

review

"\nWhat cinemas were made for. I wasn't expecting something quite as amazing as this, this was two and a half hours of incredible entertainment, drama, laughs, tears and action galore, there truly was something for everyone here.\n\nThis movie really has ignited my love for the franchise once again, and I am truly excited for what comes next.\n\nNostalgia, there seems to be a real thirst for it theses days, and there is a lot of it to enjoy here. There are plenty of moments throughout that will have you speechless, they really do break all of the rules here.\n\nThis is one incredibly good looking movie, dazzling special effects, dizzying action scenes, two and a half hours will literally fly by.\n\nIncredible, 10/10.\n"

In [50]:
# 텍스트 전처리 - 영문자 이외는 공백으로 처리
import re       # regular expression(정규 표현식)
clean_review = re.sub('[^A-Za-z]', ' ', review).strip()

In [51]:
clean_review

'What cinemas were made for  I wasn t expecting something quite as amazing as this  this was two and a half hours of incredible entertainment  drama  laughs  tears and action galore  there truly was something for everyone here   This movie really has ignited my love for the franchise once again  and I am truly excited for what comes next   Nostalgia  there seems to be a real thirst for it theses days  and there is a lot of it to enjoy here  There are plenty of moments throughout that will have you speechless  they really do break all of the rules here   This is one incredibly good looking movie  dazzling special effects  dizzying action scenes  two and a half hours will literally fly by   Incredible'

In [54]:
review_cv = cvect12.transform([clean_review])

In [55]:
review_cv.shape

(1, 1386558)

In [56]:
lr12.predict(review_cv) # 결과 array[1] == 긍정

array([1], dtype=int64)

### < 참고사항 >

In [32]:
# 문자열에서 사용 가능한 method
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

- 데이터가 one-hot encoding 과 비슷한 방식으로 들어간다.
    - [1, 0, 1, 0, ....., 1, 2, 0]

- 데이터 프레임은 정규 표현식을 지원한다. (str로 바꿔서 정규 표현식 사용 가능)

In [ ]:
# string replace method는 정규 표현식을 지원하지 않음
review.replace('[^A-Za-z]', ' ')