In [1]:
import numpy as np
import pandas as pd

# 1. DataFrame 생성

In [2]:
# 리스트, 튜플 상관 없음
kor = [80,90,70,30]             # 리스트
eng = np.array([90,70,60,40])   # array
math =(90,60,80,70)             # 튜플

In [4]:
# 데이터 프레임 만들기 - 방법1
df = pd.DataFrame({
    '국어' : kor, '영어': eng, '수학': math
}, index=['춘향','몽룡','향단','방자'])

df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [5]:
# 데이터 프레임 만들기 - 방법2
# np.random.randint(40,101,12) - 40에서 101까지 12개 뽑기
df2 = pd.DataFrame(
    np.random.randint(40,101,12).reshape(4,3),
    columns=['국어','영어','수학'], 
    index=['춘향','몽룡','향단','방자'])

df2

    국어  영어  수학
춘향  95  85  79
몽룡  48  87  71
향단  94  44  48
방자  95  58  68

# 2. 인덱싱

In [8]:
print(df['국어']['춘향'])
print(df.국어['춘향'])
print(df.국어[0])
print(df['국어'][0])
print(df.국어.춘향)

80
80
80
80
80

In [7]:
df.국어     # Series

춘향    80
몽룡    90
향단    70
방자    30
Name: 국어, dtype: int64

In [9]:
df.영어[1:3]

몽룡    70
향단    60
Name: 영어, dtype: int32

- 데이터 사이언스 스쿨 판다스 연습 문제 4.1.3

다음 데이터프레임에서 지정하는 데이터를 뽑아내거나 처리하라.

```
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
```

In [11]:
# 1) 모든 학생의 수학 점수를 시리즈로 나타낸다.
df.수학

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

In [12]:
# 2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.
df[['국어', '영어']]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [16]:
# 3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.
df['평균'] = df.mean(axis=1)
df

    국어  영어  수학         평균
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  40  70  46.666667

In [20]:
import warnings 
warnings.filterwarnings('ignore')

In [17]:
# 4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.
df.영어.방자 = 80
df.평균 = df.mean(axis=1)
df

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

    국어  영어  수학         평균
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  80  70  56.666667

In [24]:
# 5) 춘향의 점수를 데이터프레임으로 나타낸다.

df[:1]      # 슬라이싱 가능

    국어  영어  수학         평균
춘향  80  90  90  86.666667

In [25]:
df[['국어','영어','수학']][:1]

    국어  영어  수학
춘향  80  90  90

In [28]:
df.iloc[:1, :-1]

    국어  영어  수학
춘향  80  90  90

In [32]:
# 6) 향단의 점수를 시리즈로 나타낸다.
df.loc['향단']      # .loc[행, 열]

국어    70.0
영어    60.0
수학    80.0
평균    70.0
Name: 향단, dtype: float64

In [37]:
df.T.향단

국어    70.0
영어    60.0
수학    80.0
평균    70.0
Name: 향단, dtype: float64