In [2]:
import numpy as np
import pandas as pd

## < 자료 불러와서 데이터 프레임으로 만들기 >

### 1. 서울시주민등록인구(구별)통계

In [133]:
# 서울시주민등록인구(구별)통계.txt 자료
pop = pd.read_csv('서울시주민등록인구(구별)통계.txt', skiprows=1,  sep='\t')

pop.head(4)

,기간,자치구,세대,합계,합계.1,합계.2,한국인,한국인.1,한국인.2,등록외국인,등록외국인.1,등록외국인.2,세대당인구,65세이상고령자
0,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
1,2021.2/4,합계,"4,405,638","9,795,426","4,756,178","5,039,248","9,565,990","4,649,442","4,916,548","229,436","106,736","122,700",2.17,"1,576,971"
2,2021.2/4,종로구,"73,525","155,106","75,009","80,097","146,029","70,985","75,044","9,077","4,024","5,053",1.99,"27,605"
3,2021.2/4,중구,"62,897","132,259","64,526","67,733","123,016","60,019","62,997","9,243","4,507","4,736",1.96,"23,980"

### 2. 서울시CCTV설치운영현황

In [134]:
# 서울시CCTV설치운영현황.csv 자료
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',
                    skiprows=1, encoding='euc-kr')
cctv.head(3)

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289

## < 데이터 프레임 조작 >

### 1. 서울시주민등록인구

#### - 컬럼조회

In [135]:
pop.columns
# -> 필요한 컬럼 : 자치구 / 합계 / 등록외국인 / 65세이상고령자

Index(['기간', '자치구', '세대', '합계', '합계.1', '합계.2', '한국인', '한국인.1', '한국인.2',
       '등록외국인', '등록외국인.1', '등록외국인.2', '세대당인구', '65세이상고령자'],
      dtype='object')

#### - 필요한 컬럼으로 구성된 데이터 프레임 만들기
- 필요한 컬럼의 데이터만 추출
- 데이터 정수화
- 컬럼명 변화

In [136]:
# 필요한 컬럼만으로 구성된 데이터 프레임 만들기
# 0번 행인덱스 제외하기
column_names = ['자치구', '합계', '등록외국인', '65세이상고령자']
pop1 = pop[column_names].iloc[1:,:]
pop1.head(2)

   자치구         합계    등록외국인   65세이상고령자
1   합계  9,795,426  229,436  1,576,971
2  종로구    155,106    9,077     27,605

In [137]:
# 정수화(int) 하기
for column in pop1.columns[1:]:
    pop1[column] = pop1[column].str.replace(",","").astype(int)
pop1.head(2)

   자치구       합계   등록외국인  65세이상고령자
1   합계  9795426  229436   1576971
2  종로구   155106    9077     27605

In [138]:
# 컬럼명 바꾸기
# 합계 -> 인구수
# 등록외국인 -> 외국인
# 65세이상고령자 -> 고령자
pop1 = pop1.rename(columns={'합계':'인구수', '등록외국인':'외국인', '65세이상고령자':'고령자'})
pop1.head()

   자치구      인구수     외국인      고령자
1   합계  9795426  229436  1576971
2  종로구   155106    9077    27605
3   중구   132259    9243    23980
4  용산구   240665   14287    38884
5  성동구   295767    6605    45591

### 2. 서울시CCTV설치운영현황

- 컬럼조회

In [46]:
# 컬럼조회 -> # 필요한 컬럼 : 행인덱스 0 제외한 모든 데이터
cctv.columns

Index(['구분', '총계', '2012년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년', '2019년', '2020년', '2021년'],
      dtype='object')

#### - 필요한 컬럼으로 구성된 데이터 프레임 만들기
- 필요한 컬럼의 데이터만 추출
- 데이터 정수화
- 컬럼명 바꾸기
- 중 구 -> 중구 로 바꾸기

In [21]:
# 0번 행인덱스 제외
cctv1 = cctv.iloc[1:,:]
cctv1.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76
5,광진구,"2,588",35,57,100,187,98,52,675,465,712,175,32

In [47]:
# 정수화(int) 하기
for column in cctv1.columns[1:]:
    cctv1[column] = cctv1[column].str.replace(",", "").astype(int)
cctv1.head(2)

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289

In [160]:
# 컬럼명 바꾸기
# 구분 -> 자치구
cctv1 = cctv1.rename(columns={'구분':'자치구', '총계': 'CCTV댓수'})
cctv1.head(3)

,자치구,CCTV댓수,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,최근증가율
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43,20.5
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289,79.0
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0,78.6

In [192]:
# 중 구 -> 중구 로 바꾸기
cctv1.iloc[1, 0] = '중구'

## < 조작한 데이터 프레임 가져와서 필요한 데이터 구성하기 >

### 1. 서울시주민등록인구

In [161]:
pop1.head(3)

   자치구      인구수     외국인      고령자
1   합계  9795426  229436  1576971
2  종로구   155106    9077    27605
3   중구   132259    9243    23980

#### - 외국인비율(%)
- 구별 외국인 / 구별 인구수

In [162]:
# 외국인비율(%)
alien_rate = ((pop1.loc[2:, '외국인'] / pop1.loc[2:, '인구수']) * 100).round(1)
alien_rate.head()

2    5.9
3    7.0
4    5.9
5    2.2
6    3.6
dtype: float64

#### - 고령자비율(%)
- 구별 고령자 / (합계) 고령자

In [163]:
# 고령자비율(%)
senior_rate = ((pop1.loc[2:, '고령자'] / pop1.loc[1, '고령자']) * 100).round(1)
senior_rate.head()

2    1.8
3    1.5
4    2.5
5    2.9
6    3.2
Name: 고령자, dtype: float64

#### - 외국인비율(%) / 고령자비율(%) 데이터 프레임에 새로운 컬럼으로 추가하기

In [164]:
# 외국인비율(%) 데이터 프레임에 새로운 컬럼으로 추가하기
pop1['외국인비율(%)'] = alien_rate

In [165]:
# 고령자비율(%) 데이터 프레임에 새로운 컬럼으로 추가하기
pop1['고령자비율(%)'] = senior_rate

In [166]:
pop1.head(3)

   자치구      인구수     외국인      고령자  외국인비율(%)  고령자비율(%)
1   합계  9795426  229436  1576971       NaN       NaN
2  종로구   155106    9077    27605       5.9       1.8
3   중구   132259    9243    23980       7.0       1.5

### 2. 서울시CCTV설치운영현황

In [194]:
cctv1.head(3)

,자치구,CCTV댓수,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,최근증가율
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43,20.5
2,중구,2333,16,114,87,77,236,240,372,386,155,361,289,79.0
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0,78.6

##### - 최근증가율
- ((2018 + 2019 + 2020) / (2012년 이전~2017)) * 100

In [195]:
# 최근증가율
recent_incre_rate = ((cctv1.iloc[:,9:12].sum(axis=1) / cctv1.iloc[:,2:9].sum(axis=1)) * 100).round(1) 
recent_incre_rate.head(3)

1    20.5
2    79.0
3    78.6
dtype: float64

In [196]:
cctv1['최근증가율'] = recent_incre_rate
cctv1.head(3)

,자치구,CCTV댓수,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,최근증가율
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43,20.5
2,중구,2333,16,114,87,77,236,240,372,386,155,361,289,79.0
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0,78.6

In [197]:
column_names = ['자치구', 'CCTV댓수', '최근증가율']
cctv2 = cctv1[column_names]
cctv2.head(2)

   자치구  CCTV댓수  최근증가율
1  종로구    1772   20.5
2   중구    2333   79.0

## < 데이터 프레임 합성 >

In [198]:
df_fin = pd.merge(cctv2, pop1[1:], how='outer', on='자치구')
df_fin.head()

   자치구  CCTV댓수  최근증가율     인구수    외국인    고령자  외국인비율(%)  고령자비율(%)
0  종로구    1772   20.5  155106   9077  27605       5.9       1.8
1   중구    2333   79.0  132259   9243  23980       7.0       1.5
2  용산구    2383   78.6  240665  14287  38884       5.9       2.5
3  성동구    3602   46.1  295767   6605  45591       2.2       2.9
4  광진구    2588  112.3  355306  12825  50815       3.6       3.2

In [184]:
df_fin.drop(columns=['구별'], inplace=True)

In [201]:
df_fin.rename(columns={'자치구':'구별'}, inplace=True)

In [ ]:
df_fin = df_fin.set_index('구별')

In [206]:
df_fin.head()

     CCTV댓수  최근증가율     인구수    외국인    고령자  외국인비율(%)  고령자비율(%)
구별
종로구    1772   20.5  155106   9077  27605       5.9       1.8
중구     2333   79.0  132259   9243  23980       7.0       1.5
용산구    2383   78.6  240665  14287  38884       5.9       2.5
성동구    3602   46.1  295767   6605  45591       2.2       2.9
광진구    2588  112.3  355306  12825  50815       3.6       3.2